<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
</head>

<body>

<div class="container">

    <div class="heading">
        <h2>Loan Approval Prediction Result</h2>
    </div>

    <div class="result">

        {% if prediction == 1 %}
            <h1 style="color:green;">✅ Loan Approved</h1>
        {% else %}
            <h1 style="color:red;">❌ Loan Rejected</h1>
        {% endif %}

        <br>

        <a href="/predict">
            <button class="btn">Predict Again</button>
        </a>

        <a href="/">
            <button class="btn">Home</button>
        </a>

    </div>

</div>

</body>
</html>